In [5]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [6]:
app_train = pd.read_csv('application_train.csv')
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# 如果欄位中有 NA, describe 會有問題
app_train['AMT_ANNUITY'].describe()

count    307499.000000
mean      27108.573909
std       14493.737315
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64

In [17]:
five_num = range(0,101)
for i in five_num:
    quantile_5s = np.percentile(app_train[~app_train['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], i)
    print('第{}分位數:'.format(i),quantile_5s)

第0分位數: 1615.5
第1分位數: 6182.910000000001
第2分位數: 6750.0
第3分位數: 7875.0
第4分位數: 8703.0
第5分位數: 9000.0
第6分位數: 9000.0
第7分位數: 9553.5
第8分位數: 10125.0
第9分位數: 10503.0
第10分位數: 11074.5
第11分位數: 11430.0
第12分位數: 11970.0
第13分位數: 12375.0
第14分位數: 12838.5
第15分位數: 13302.0
第16分位數: 13500.0
第17分位數: 13500.0
第18分位數: 13896.0
第19分位數: 14350.5
第20分位數: 14701.5
第21分位數: 15124.5
第22分位數: 15583.5
第23分位數: 15970.5
第24分位數: 16209.0
第25分位數: 16524.0
第26分位數: 16852.5
第27分位數: 17109.0
第28分位數: 17487.0
第29分位數: 17806.5
第30分位數: 18189.0
第31分位數: 18643.5
第32分位數: 19102.5
第33分位數: 19417.5
第34分位數: 19836.0
第35分位數: 20151.0
第36分位數: 20421.0
第37分位數: 20853.0
第38分位數: 21186.0
第39分位數: 21609.0
第40分位數: 21865.5
第41分位數: 22018.5
第42分位數: 22342.5
第43分位數: 22527.0
第44分位數: 22972.5
第45分位數: 23346.0
第46分位數: 23719.5
第47分位數: 23931.0
第48分位數: 24259.5
第49分位數: 24583.589999999953
第50分位數: 24903.0
第51分位數: 25240.5
第52分位數: 25537.5
第53分位數: 25960.5
第54分位數: 26217.0
第55分位數: 26316.0
第56分位數: 26640.0
第57分位數: 26860.5
第58分位數: 27189.0
第59分位數: 27558.0
第60分位數: 28062.0
第61分位數: 28480.5
第62分位數: 28917.0
第63分位數: 29340.0
第64分位數: 29830.5
第65分位數: 30078.0
第66分位數: 30483.0
第67分位數: 30897.0
第68分位數: 31275.0
第69分位數: 31630.5
第70分位數: 32004.0
第71分位數: 32458.5
第72分位數: 32895.0
第73分位數: 33376.5
第74分位數: 33984.0
第75分位數: 34596.0
第76分位數: 35345.16000000005
第77分位數: 35806.5
第78分位數: 36328.5
第79分位數: 36747.0
第80分位數: 37516.5
第81分位數: 37948.5
第82分位數: 38556.0
第83分位數: 39456.0
第84分位數: 40135.5
第85分位數: 40806.0
第86分位數: 41845.5
第87分位數: 42790.5
第88分位數: 43735.5
第89分位數: 44991.0
第90分位數: 45954.0
第91分位數: 47254.5
第92分位數: 48465.0
第93分位數: 49878.0
第94分位數: 51745.5
第95分位數: 53325.0
第96分位數: 55624.5
第97分位數: 58482.0
第98分位數: 62964.0
第99分位數: 70006.5
第100分位數: 258025.5

In [19]:
# Ignore NA, 計算五值
five_num = range(0,101)
quantile_5s = [np.percentile(app_train[~app_train['AMT_ANNUITY'].isnull()]['AMT_ANNUITY'], q = i) for i in five_num]
print(quantile_5s)

[1615.5, 6182.910000000001, 6750.0, 7875.0, 8703.0, 9000.0, 9000.0, 9553.5, 10125.0, 10503.0, 11074.5, 11430.0, 11970.0, 12375.0, 12838.5, 13302.0, 13500.0, 13500.0, 13896.0, 14350.5, 14701.5, 15124.5, 15583.5, 15970.5, 16209.0, 16524.0, 16852.5, 17109.0, 17487.0, 17806.5, 18189.0, 18643.5, 19102.5, 19417.5, 19836.0, 20151.0, 20421.0, 20853.0, 21186.0, 21609.0, 21865.5, 22018.5, 22342.5, 22527.0, 22972.5, 23346.0, 23719.5, 23931.0, 24259.5, 24583.589999999953, 24903.0, 25240.5, 25537.5, 25960.5, 26217.0, 26316.0, 26640.0, 26860.5, 27189.0, 27558.0, 28062.0, 28480.5, 28917.0, 29340.0, 29830.5, 30078.0, 30483.0, 30897.0, 31275.0, 31630.5, 32004.0, 32458.5, 32895.0, 33376.5, 33984.0, 34596.0, 35345.16000000005, 35806.5, 36328.5, 36747.0, 37516.5, 37948.5, 38556.0, 39456.0, 40135.5, 40806.0, 41845.5, 42790.5, 43735.5, 44991.0, 45954.0, 47254.5, 48465.0, 49878.0, 51745.5, 53325.0, 55624.5, 58482.0, 62964.0, 70006.5, 258025.5]