In [4]:
import pandas as pd
import numpy as np

In [56]:
con = ['China', 'France', 'Germany', 'Indonesia', 'Korea', 'Canada', 'U.S.A', 'Vietnam']

In [57]:
pop = np.random.randint(10000,100000,size=8)

In [91]:
data = {'國家':con,
        '人口': pop}
df = pd.DataFrame(data)

In [92]:
df

          國家     人口
0      China  83557
1     France  32912
2    Germany  14595
3  Indonesia  98168
4      Korea  22867
5     Canada  33138
6      U.S.A  78105
7    Vietnam  36039

In [99]:
df.iloc[:,[1]].max()

人口    98168
dtype: int32